.container {
    max-width: 98%;  
    margin: 0px auto;
    padding: 0 20px; 
}

.flex {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.heading{
    justify-content: center;
    display: flex;
}

.gap{
    gap: 10px;
}

