.carousel-item img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;
}

.carousel {
    position: relative;
    left: 63px;
}

.carousel-control-next {
    right: 8%;
}