*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown-menu[data-bs-popper] {
  min-width: 290px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: olive;
  --bs-btn-border-color: olive;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: olive;
  --bs-btn-hover-border-color: olive;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: black;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    border-style: none;

}

.search{
  background-image: url("../public/images/search-bar.png");
  background-repeat: no-repeat;
  background-position: left center;
  /* background-size: contain; */
  padding-left: 35px; 
}